.DetailListCustomRoot{
    overflow-x: visible;
}

.NoDataLabel{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 4%;
}

.root101{
    position: relative;
    cursor: default;
}
